/* First, I used box-sizing because it just makes my life easier. It sets how the total width and height of an element is calculated. */
* {
  box-sizing: border-box;
}

nav {
  box-shadow: 0px 1px 6px #0000007a;
  background-color: #e3c5c5;
  display: flex;
  padding: 20px;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.allNavLinks {
  padding: 0px 76px 0px 0px;
  font-size: 17px;
}

ul {
  text-align: center;
  background-color: #e3c5c5;
  margin: 0;
  width: 70%;
  flex-grow: 1;
}

.navName {
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
}

.backgroundImg {
  background-image: url("https://i.imgur.com/brCUXFY.jpg");
  padding: 58px 0px 25px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in-text {
  font-size: 75px;
  animation: fadeIn 5s;
  text-align: center;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  max-width: 100%;
  max-height: 100%;
  margin: 130px;
  padding-top: 15px;
  padding-bottom: 150px;
}

.imgBorder {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 20px 30px 20px 30px;
  margin-top: 40px;
}

.first {
  margin: 70px 0px 0px 0px;
  padding-right: 243px;
  font-size: 60px;
}

.second {
  font-size: 40px;
  margin: 0%;
  padding: 0px 240px 0px 100px;
}
/* I added this to make sure it works in all browsers. */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  display: inline;
  color: white;
  margin: 10px;
}
.mainText {
  text-align: left;
  font-family: "EB Garamond", serif;
  padding: 50px;
  font-size: 18px;
}

body {
  background-color: white;
  max-width: 100%;
  margin: 0;
}

.containEverything {
  padding: 30px;
}

.myaboutmeText {
  font-size: 21px;
  font-family: "EB Garamond", serif;
  text-align: center;
  margin: 55px 0px 60px 0px;
  padding: 0px 150px 0px 150px;
}
.myAboutMe {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  margin: 0px;
  padding: 80px 0px 10px 0px;
  text-align: center;
}
.line {
  margin: auto;
  height: 0px;
  width: 50%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.myProjects {
  font-size: 50px;
  font-family: "EB Garamond", serif;
  margin: 0;
  text-align: center;
  padding: 50px 0px 20px 0px;
}
.allProjects {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  margin: 50px 0px 60px 0px;
  flex-wrap: wrap;
}
.project-description {
  font-size: 15px;
}

.projectBorder1 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 10px 20px 10px 20px;
  margin: 15px;
}

.projectBorder2 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
}

.projectBorder3 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
}

.projectBorder4 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
}

.myConnections {
  font-size: 50px;
  font-family: "EB Garamond", serif;
  text-align: center;
  margin: 65px 0px 20px 0px;
}

.ticTacToe {
  padding: 0px;
}
.ticTacToeTwo {
  display: none;
}
.snake {
  padding: 0px;
}
.snakeTwo {
  display: none;
}
.rockPaperScissors {
  padding: 0px;
}
.rockPaperScissorsTwo {
  display: none;
}
.wordSearch {
  padding: 0px;
}
.wordSearchTwo {
  display: none;
}

.projectButton1 {
  margin-left: 65px;
  font-size: 23px;
  font-family: "Shadows Into Light", cursive;
}
.projectButton2 {
  margin-left: 100px;
  font-size: 23px;
  font-family: "Shadows Into Light", cursive;
}
.projectButton3 {
  margin-left: 36px;
  font-size: 23px;
  font-family: "Shadows Into Light", cursive;
}
.projectButton4 {
  margin-left: 85px;
  font-size: 23px;
  font-family: "Shadows Into Light", cursive;
}

.changeToDarkMode {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  width: 3%;
}
.bi.bi-brightness-high {
  display: none;
}

.bi.bi-moon-fill {
  display: block;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolTip .toolTipText {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 86%;
  font-size: 15px;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

.icons {
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

#gitHub {
  display: flex;
  padding-right: 20px;
}
#linkedIn {
  display: flex;
  padding-right: 20px;
}
#mail {
  display: flex;
  padding-right: 15px;
}

.bi.bi-github {
  padding-right: 3px;
}
.bi.bi-linkedin {
  padding-right: 3px;
}
.bi.bi-envelope-at-fill {
  padding-right: 3px;
}

@media screen and (max-width: 1600px) {
  .toolTip .toolTipText {
    left: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .allProjects {
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60%;
    margin: auto;
    padding-top: 20px;
  }
  .mainText {
    margin: 20px;
    padding: 20px;
  }
  .toolTip .toolTipText {
    left: 90%;
  }
}
@media screen and (max-width: 1300px) {
  .fade-in-text {
    color: white;
  }
}
@media screen and (max-width: 1250px) {
  .toolTip .toolTipText {
    left: 88%;
  }
}

@media screen and (max-width: 950px) {
  .toolTip .toolTipText {
    font-size: 10px;
  }

  .mainText {
    margin: 20px;
    padding: 20px;
  }
  .fade-in-text {
    margin-bottom: 30px;
  }
  .myAboutMe {
    text-align: center;
    font-size: 50px;
  }
  .myaboutmeText {
    font-size: 21px;
    font-family: "EB Garamond", serif;
    text-align: center;
    margin: 55px 0px 60px 0px;
    padding: 0px 50px 0px 50px;
  }
  .myProjects {
    text-align: center;
    font-size: 50px;
    padding: 30px 0px 20px 0px;
  }
  .myConnections {
    text-align: center;
    font-size: 50px;
  }
  .contacts {
    text-align: center;
  }
  ul {
    width: 67%;
  }
  .fade-in-text {
    color: white;
    text-align: center;
  }
  .first {
    padding-right: 0px;
    width: 100%;
    margin-top: 10px;
  }
  .second {
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
  nav {
    width: 100%;
    padding: 0px;
  }
  .navName {
    margin-left: 20px;
    font-size: 20px;
  }

  .fade-in-text {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-bottom: 30px;
  }
  .mainText {
    margin: auto;
  }
  .fade-in-image {
    width: 100%;
    padding: 50px 100px 20px 100px;
  }
  .first {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .second {
    font-size: 40px;
    margin-top: 10px;
  }
  .container {
    flex-direction: column;
  }
  .myAboutMe {
    text-align: center;
    font-size: 50px;
    padding-top: 0px;
  }

  .myaboutmeText br {
    display: none;
  }

  .containProjects {
    text-align: center;
  }

  .myProjects {
    padding-top: 0px;
    font-size: 50px;
  }

  .projectBorder1 {
    margin: 30px;
  }

  .myConnections {
    text-align: center;
    font-size: 50px;
  }
  .projectButton1 {
    margin: 0px;
  }
  .projectButton2 {
    margin: 0px;
  }
  .projectButton3 {
    margin: 0px;
  }
  .projectButton4 {
    margin: 0px;
  }

  .contacts {
    text-align: center;
  }

  .allNavLinks {
    position: fixed;
    top: 2rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: solid;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .imgBorder {
    width: 100%;
  }

  li {
    display: block;
  }

  .navItems {
    margin: 2.5rem 0;
    padding: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
    padding-right: 10px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  .changeToDarkMode {
    text-align: right;
    width: 100%;
    padding-right: 15px;
    font-size: 21px;
  }
  .toolTip .toolTipText {
    left: 31%;
  }
}

/*                DARK-THEME!!!                */

body.dark-theme {
  background-color: black;
  color: white;
}
body.dark-theme nav {
  background-color: rgb(168 168 168);
}
body.dark-theme .navItems a {
  color: white;
}
body.dark-theme .allNavLinks {
  background-color: rgb(168 168 168);
}
body.dark-theme .divName {
  color: white;
}
body.dark-theme .bi.bi-brightness-high {
  display: block;
  color: white;
}
body.dark-theme .bi.bi-moon-fill {
  display: none;
}
body.dark-theme .bar {
  background: white;
}
body.dark-theme .line {
  margin: auto;
  height: 0px;
  width: 50%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
  background-color: white;
}
body.dark-theme .ticTacToeTwo {
  display: block;
  margin-left: 7px;
  height: 250px;
  width: 245px;
}
body.dark-theme .ticTacToe {
  display: none;
}
body.dark-theme .snakeTwo {
  display: block;
  max-width: 250px;
  height: 250px;
}
body.dark-theme .Snake {
  display: none;
}
body.dark-theme .rockPaperScissorsTwo {
  display: block;
  margin-left: 7px;
  height: 250px;
  width: 245px;
}
body.dark-theme .rockPaperScissors {
  display: none;
}

body.dark-theme .wordSearchTwo {
  display: block;
  margin-left: 7px;
  height: 250px;
  width: 245px;
}
body.dark-theme .wordSearch {
  display: none;
}
body.dark-theme .linkFontColorsDarkTheme {
  color: white;
}
body.dark-theme .backgroundImg {
  background-image: url("https://i.imgur.com/N6iNyar.jpg");
  padding: 58px 0px 25px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
body.dark-theme .fade-in-text {
  backdrop-filter: none;
}
body.dark-theme .projectBorder1 {
  background-color: rgb(168 168 168);
}
body.dark-theme .imgBorder {
  background-color: rgb(168 168 168);
}
