@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap");

.containEverything {
  background-image: url(https://i.imgur.com/p5bF9o6.png);
  height: 650px;
}

.containsTitleAndText {
  padding: 70px;
}

.greetingInAboutMe {
  float: left;
  font-size: 46px;
  margin: 0 5px 0px 0px;
}

.secondParagraph {
  text-align: center;
}

.aboutMeParagraph {
  padding: 5px;
}

.myaboutmeText {
  font-size: 21px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  margin: 0px;
  height: 425px;
  padding: 70px 150px 350px 150px;
  background-color: #f0e5d9;
  border-radius: 30px 30px 30px 30px;
}
.myAboutMe {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  padding: 60px 0px 10px 0px;
  text-align: center;
  background-color: #f0e5d9;
  border-radius: 30px 30px 0px 0px;
}
@media screen and (max-width: 950px) {
  .myAboutMe {
    text-align: center;
    font-size: 50px;
  }
  .myaboutmeText {
    font-size: 21px;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-align: center;
    margin: 55px 0px 60px 0px;
    padding: 0px 50px 0px 50px;
  }
}

@media screen and (max-length: 700px) {
  .myAboutMe {
    text-align: center;
    font-size: 50px;
    padding-top: 0px;
  }
  .myaboutmeText br {
    display: none;
  }
}
