@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap");

.containEverything {
  background-image: url(https://i.imgur.com/p5bF9o6.png);
}

.containsTitleAndText {
  padding: 70px;
}

.greetingInAboutMe {
  float: left;
  font-size: 46px;
  margin: 0 5px 0px 0px;
  padding-top: 20px;
}

.secondParagraph {
  text-align: center;
}

.aboutMeParagraph {
  padding: 23px;
}

.myaboutmeText {
  font-size: 21px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  margin: 0px;
  padding: 40px;
  background-color: #f1ddc3;
  border-radius: 30px 30px 30px 30px;
}
.myAboutMe {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  padding: 60px 0px 10px 0px;
  text-align: center;
  background-color: #f0e5d9;
  border-radius: 30px 30px 0px 0px;
}

@media only screen and (max-width: 1450px) {
  .aboutMeParagraph {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1200px) {
  .aboutMeParagraph {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1150px) {
  .aboutMeParagraph {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1050px) {
  .aboutMeParagraph {
    font-size: 17px;
  }
}

@media only screen and (max-width: 950px) {
  .myAboutMe {
    text-align: center;
    font-size: 50px;
  }
  .myaboutmeText {
    font-size: 21px;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-align: center;

    padding: 0px 50px 0px 50px;
  }

  .greetingInAboutMe {
    padding-top: 90px;
    display: none;
  }
  .aboutMeParagraph {
    padding: 30px 0px 30px 0px;
  }
  .containsTitleAndText {
    padding: 40px;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 750px) {
  .aboutMeParagraph {
    font-size: 17px;
  }
}

@media only screen and (max-width: 700px) {
  .myAboutMe {
    text-align: center;
    font-size: 50px;
    padding-top: 0px;
  }
  .myaboutmeText br {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .aboutMeParagraph {
    font-size: 16px;
  }
}
