@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&display=swap");

.theFooterContainer {
  background-color: #f1ddc3;
}

.wrappingTheImageTagInFooter {
  height: 320px;
}
.imageInFooter {
  width: 410px;
  height: 310px;
}
.footerTitleContainer {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  padding: 50px 0px 0px 70px;
}
.portfolioDescriptionInFooter {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  padding: 20px 50px 0px 0px;
}
.technologiesUsedContainer {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 50px;
  width: 65%;
}
.technologiesAndImageInFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.technologiesUsedTitle {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}
.portfolioDescriptionInFooter {
  font-size: 15px;
}
.technologiesList {
  font-size: 18px;
  padding-top: 12px;
}
@media only screen and (max-width: 1200px) {
  .technologiesUsedTitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1050px) {
  .footerTitle {
    font-size: 25px;
  }
  .technologiesUsedTitle {
    font-size: 17px;
  }
}

@media only screen and (max-width: 900px) {
  .imageInFooter {
    display: none;
  }

  .footerTitleContainer {
    padding: 50px 0px 0px 50px;
  }
  .technologiesUsedTitle {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .footerTitleContainer {
    padding: 50px 0px 0px 30px;
  }
  .technologiesUsedContainer {
    padding-right: 20px;
  }
}
