@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.fade-in-text {
  font-size: 75px;
  animation: fadeIn 3s;
  text-align: center;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  max-height: 100%;
  margin: 100px 0px 0px 0px;
  width: 50%;
  padding: 30px;
  font-family: "Cormorant Garamond", serif;
  text-align: right;
}
.introPhrase {
  font-size: 30px;
  margin-top: 15px;
  width: 102%;
  text-align: left;
}

.first {
  margin: 0px;
  width: 96%;
  text-align: left;
}
.second {
  font-size: 30px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  text-align: left;
}

.imgBorder {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 20px 30px 20px 30px;
  margin-top: 40px;
}
.imgBorder {
  width: 100%;
}
.backgroundImg {
  display: flex;
  margin: 100px 10px 0px 50px;
  /* padding-left: 100px; */
  /* width: 100%; */
}
.girlsWhoCode {
  margin-top: 20px;
  padding: 0px;
  border-radius: 30% 30% 0% 0%;
}
.introSectionOnHomePageWhenSmallerScreen {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1350px) {
  .first {
    font-size: 60px;
  }
  .introPhrase {
    font-size: 45px;
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 950px) {
  .introPhrase {
    text-align: left;
  }
  .first {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .first {
    font-size: 50px;
  }
  .introPhrase {
    font-size: 34px;

    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .introPhrase {
    font-size: 35px;
  }
}

@media only screen and (max-width: 700px) {
  .introPhrase {
    font-size: 30px;
  }
  .backgroundImg {
    margin: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .introPhrase {
    font-size: 20px;
  }
  .second {
    font-size: 15px;
  }
}
@media only screen and (max-width: 535px) {
  .first {
    font-size: 20px;
  }
}
