@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.fade-in-text {
  font-size: 75px;
  animation: fadeIn 3s;
  text-align: center;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  /* max-width: 100%; */
  max-height: 100%;
  margin: 120px 0px 120px 50px;
  padding-top: 15px;
  padding-bottom: 150px;
  width: 50%;
}
.introPhrase {
  font-size: 22px;
  margin-top: 7px;
  width: 100%;
}

.first {
  margin: 0px;
  padding-right: 280px;
  font-size: 60px;
  font-family: "EB Garamond", serif;
}

.imgBorder {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 20px 30px 20px 30px;
  margin-top: 40px;
}
.imgBorder {
  width: 100%;
}
.backgroundImg {
  display: flex;
  margin: 100px 10px 50px 50px;
  /* padding-left: 100px; */
  /* width: 100%; */
}
.girlsWhoCode {
  margin-top: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .fade-in-text {
    color: white;
  }
}

@media screen and (max-width: 950px) {
  .fade-in-text {
    margin-bottom: 30px;
    color: white;
    text-align: center;
  }
  .first {
    padding-right: 0px;
    width: 100%;
    margin-top: 10px;
  }
  .second {
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  .fade-in-text {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-bottom: 30px;
  }
  .first {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .second {
    font-size: 40px;
    margin-top: 10px;
  }
  .fade-in-image {
    width: 100%;
    padding: 50px 100px 20px 100px;
  }
}
