@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.fade-in-text {
  font-size: 75px;
  animation: fadeIn 3s;
  text-align: center;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  max-height: 100%;
  margin: 100px 0px 0px 0px;
  width: 50%;
  padding: 30px 30px 0px 30px;
  font-family: "Cormorant Garamond", serif;
  text-align: right;
}
.introPhrase {
  font-size: 33px;
  margin-top: 15px;
  width: 102%;
  text-align: left;
}

.first {
  margin: 0px;
  width: 96%;
  text-align: left;
}
.second {
  font-size: 30px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  text-align: left;
}

.imgBorder {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 20px 30px 20px 30px;
  margin-top: 40px;
}
.imgBorder {
  width: 100%;
}
.backgroundImg {
  display: flex;
  padding-top: 40px;
}
.girlsWhoCode {
  margin-top: 20px;
  width: 100%;
}
.introSectionOnHomePageWhenSmallerScreen {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1450px) {
  .first {
    font-size: 65px;
  }
}
@media only screen and (max-width: 1300px) {
  .first {
    font-size: 51px;
  }
  .second {
    font-size: 25px;
  }
  .introPhrase {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1100px) {
  .first {
    font-size: 35px;
  }
  .second {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .backgroundImg {
    flex-direction: column;
    padding-top: 0px;
  }
  .fade-in-text {
    width: 100%;
  }
  .first {
    text-align: center;
    font-size: 50px;
  }
  .second {
    text-align: center;
    font-size: 25px;
  }
  .introPhrase {
    text-align: center;
  }
}
