@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&display=swap");

.myConnections {
  font-size: 50px;
  text-align: center;
  margin: 65px 0px 0px 0px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 30px;
}

.easyAsOneTwoThree {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-family: "Cedarville Cursive", cursive;
  padding-left: 150px;
}
.icons {
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 0px 0px 20px 0px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  margin-bottom: 50px;
}
.numberOnFooter {
  font-size: 50px;
  padding-right: 10px;
  color: #caa26e;
}

#resume {
  display: flex;
  align-items: baseline;
  padding-right: 60px;
}
#linkedIn {
  display: flex;
  align-items: baseline;
  padding-right: 60px;
}
#mail {
  display: flex;
  align-items: baseline;
  padding-right: 60px;
}

@media screen and (max-width: 950px) {
  .myConnections {
    text-align: center;
    font-size: 50px;
  }
  .contacts {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .myConnections {
    text-align: center;
    font-size: 50px;
  }
  .contacts {
    text-align: center;
  }
}
