@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

nav {
  display: flex;
  padding: 25px;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: #f1ddc3;
  border-bottom: 4mm ridge rgb(255 255 255 / 60%);
}

.allNavLinks {
  font-size: 18px;
  text-align: right;
}
a {
  color: black;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  text-align: center;
  margin: 0;
  width: 70%;
  flex-grow: 1;
}

.navName {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.navItems {
  font-family: "EB Garamond", serif;
}
li {
  display: inline;
  color: white;
  margin: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolTip .toolTipText {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 86%;
  font-size: 15px;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

/* .changeToDarkMode {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  width: 3%;
} */
.bi.bi-brightness-high {
  display: none;
}

.bi.bi-moon-fill {
  display: block;
}

@media screen and (max-width: 1400px) {
  .toolTip .toolTipText {
    left: 90%;
  }
}

@media screen and (max-width: 1600px) {
  .toolTip .toolTipText {
    left: 90%;
  }
}

@media screen and (max-width: 1250px) {
  .toolTip .toolTipText {
    left: 88%;
  }
}

@media screen and (max-width: 950px) {
  ul {
    width: 67%;
  }
  .toolTip .toolTipText {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    padding: 0px;
  }
  .navItems {
    margin: 2.5rem 0;
    padding: none;
  }
  .navName {
    margin-left: 20px;
    font-size: 20px;
  }
  .allNavLinks {
    position: fixed;
    top: 2rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: solid;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  li {
    display: block;
  }
  .toolTip .toolTipText {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
    padding-right: 10px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  /* .changeToDarkMode {
    text-align: right;
    width: 100%;
    padding-right: 15px;
    font-size: 21px;
  } */
}
