@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.container {
  text-align: center;
  margin: auto;
}

.container:hover {
  opacity: 1;
}

.hi {
  display: none;
}

.hi:hover {
  font-size: 50px;
  display: block;
}

.myProjects {
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.allProjects {
  display: flex;
  margin: 10px;
  justify-content: center;
  margin: 50px 0px 60px 0px;
  flex-wrap: wrap;
}

.projectBorder1 {
  padding: 30px;
  margin: 0px 50px 50px 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #f1ddc3;
  border-radius: 50% 50% / 10% 90%;
  border: 1px solid #dfbc93;
}
.projectBorder2 {
  padding: 30px;
  margin: 0px 50px 50px 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #ecdbc8ad;
  height: 400px;
  border-radius: 50% 50% / 10% 90%;
  border: 1px solid #dfbc93;
}

.projectBorder3 {
  padding: 30px;
  margin: 0px 50px 50px 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #ecdbc8ad;
  height: 400px;
  border-radius: 50% 50% / 10% 90%;
  border: 1px solid #dfbc93;
}

.projectBorder4 {
  padding: 30px;
  margin: 0px 50px 50px 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #ecdbc8ad;
  height: 400px;
  border-radius: 50% 50% / 10% 90%;
  border: 1px solid #dfbc93;
}
.cardInfo {
  width: 50%;
  padding-top: 15px;
}
.healthyMindsProjectDescription {
  text-align: left;
  padding-left: 50px;
  font-size: 18px;
}

.socialSiteProjectDescription {
  text-align: left;
  padding-left: 50px;
  text-align: left;
  padding-left: 50px;
  font-size: 18px;
}
.cardifyProjectDescription {
  text-align: left;
  font-size: 18px;
}
.stopForgettingAndStartListingProjectDescription {
  text-align: left;
  font-size: 18px;
}

.projectButton1 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectTitle {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 25px;
}
.projectButton2 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectButton3 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectButton4 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.healthyMinds {
  padding: 0px;
  width: 75%;
  border: 2px solid;
  height: 300px;
}
.healthyMindsTwo {
  display: none;
}

.socialSite {
  padding: 0px;
  width: 75%;
  border: 2px solid;
  height: 300px;
}

.containsImages {
  /* height: 100% !important;
  width: 100% !important; */
  display: inline-block;
  transition: all 0.5s;
  box-shadow: 4px 4px 4px #0000007a;
}

.containsImages:hover {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.socialSiteTwo {
  display: none;
}
.cardify {
  padding: 0px;
  width: 75%;
  border: 2px solid;
  height: 300px;
}
.cardifyTwo {
  display: none;
}

.stopForgettingStartListing {
  padding: 0px;
  width: 100%;
  border: 2px solid;
  height: 300px;
  margin-left: 45px;
}
.stopForgettingStartListingTwo {
  display: none;
}

.technologiesUsed {
  padding-top: 10px;
}
.gitHubAndLiveSiteLink {
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
.gitHubLink {
  padding-right: 20px;
  font-size: 20px;
  display: flex;
}
.gitHubIcon {
  padding-right: 5px;
}

@media screen and (max-width: 1400px) {
  .allProjects {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 20px;
  }
  .cardInfo {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0px;
    width: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .healthyMindsProjectDescription {
    font-size: 15px;
  }
  .socialSiteProjectDescription {
    font-size: 15px;
  }
  .cardifyProjectDescription {
    font-size: 15px;
  }
  .stopForgettingAndStartListingProjectDescription {
    font-size: 15px;
  }
  .video__player {
    max-width: 425px;
    max-height: 300px;
  }
}
@media only screen and (max-width: 1000px) {
  .healthyMindsProjectDescription {
    font-size: 13px;
    padding-left: 0px;
  }
  .socialSiteProjectDescription {
    font-size: 13px;
    padding-left: 0px;
  }
  .cardifyProjectDescription {
    font-size: 13px;
    padding-left: 0px;
  }
  .stopForgettingAndStartListingProjectDescription {
    font-size: 13px;
    padding-left: 0px;
  }
  .projectBorder1 {
    border-radius: 0%;
  }
}
@media screen and (max-width: 950px) {
  .myProjects {
    text-align: center;
    font-size: 50px;
    padding: 30px 0px 20px 0px;
  }
}
@media only screen and (max-width: 875px) {
  .projectBorder1 {
    flex-direction: column;
    padding: 0px;
  }
  .cardifyProjectDescription {
    margin-bottom: 30px;
  }
  .stopForgettingAndStartListingProjectDescription {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .containProjects {
    text-align: center;
  }
  .myProjects {
    padding: 25px 0px 0px 0px;
    font-size: 50px;
  }
  .projectBorder1 {
    margin: 30px;
  }
}
