@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.container {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: auto;
}

.myProjects {
  font-size: 50px;
  font-family: "EB Garamond", serif;
  margin: 0;
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.line {
  margin: auto;
  height: 0px;
  width: 50%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.allProjects {
  display: flex;
  margin: 10px;
  justify-content: center;
  margin: 50px 0px 60px 0px;
  flex-wrap: wrap;
}

.projectBorder1 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #e3c5c5;
  padding: 10px 20px 10px 20px;
  margin: 15px;
  border: 2px solid;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 35%;
  text-align: center;
}
.projectBorder2 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
  border: 2px solid;
  font-family: "Cormorant Garamond", serif;
}

.projectBorder3 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
  border: 2px solid;
  font-family: "Cormorant Garamond", serif;
}

.projectBorder4 {
  box-shadow: -2px 7px 10px #0000007a;
  background-color: #efd9d9;
  padding: 30px 30px 20px 20px;
  margin: 15px;
  border: 2px solid;
  font-family: "Cormorant Garamond", serif;
}
.cardInfo {
  text-align: left;
}
.healthyMindsProjectDescription {
  font-size: 15px;
}

.socialSiteProjectDescription {
  font-size: 15px;
  padding: 0px 0px 15px 0px;
}
.cardifyProjectDescription {
  font-size: 15px;
  padding: 0px 0px 15px 0px;
}
.stopForgettingAndStartListingProjectDescription {
  font-size: 15px;
  padding: 0px 0px 15px 0px;
}

.projectButton1 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectTitle {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 25px;
}
.projectButton2 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectButton3 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.projectButton4 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}
.healthyMinds {
  padding: 0px;
  width: 100%;
  border: 2px solid;
  height: 240px;
}
.healthyMindsTwo {
  display: none;
}
.socialSite {
  padding: 0px;
  width: 100%;
  border: 2px solid;
  height: 240px;
}

.containsImages {
  height: 100% !important;
  width: 100% !important;
  display: inline-block;
  transition: all 0.5s;
  box-shadow: 4px 4px 4px #0000007a;
}

.containsImages:hover {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.socialSiteTwo {
  display: none;
}
.cardify {
  padding: 0px;
  width: 100%;
  border: 2px solid;
  height: 240px;
}
.cardifyTwo {
  display: none;
}
.stopForgettingStartListing {
  padding: 0px;
  width: 100%;
  border: 2px solid;
  height: 240px;
}
.stopForgettingStartListingTwo {
  display: none;
}

@media screen and (max-width: 1400px) {
  .allProjects {
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60%;
    margin: auto;
    padding-top: 20px;
  }
}
@media screen and (max-width: 950px) {
  .myProjects {
    text-align: center;
    font-size: 50px;
    padding: 30px 0px 20px 0px;
  }
}
@media screen and (max-width: 700px) {
  .containProjects {
    text-align: center;
  }
  .myProjects {
    padding-top: 0px;
    font-size: 50px;
  }
  .projectBorder1 {
    margin: 30px;
  }
  .projectButton1 {
    margin: 0px;
  }
  .projectButton2 {
    margin: 0px;
  }
  .projectButton3 {
    margin: 0px;
  }
  .projectButton4 {
    margin: 0px;
  }
}
