@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.skillsSectionContainer {
  display: flex;
  margin-top: 20px;
  width: 100%;
  background-image: url(https://i.imgur.com/9I07Uzw.png);
  padding-bottom: 200px;
}
.skillsSectionTitle {
  font-size: 60px;
  color: black;
  padding: 50px 50px 0px 70px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.languageSection {
  padding: 0px 40px 10px 50px;
  /* margin: 35px 35px 35px 0px; */
}
.listOfLanguages {
  display: block;
  color: black;
}
.databaseSection {
  padding: 0px 40px 10px 50px;
  /* margin: 35px 35px 35px 0px; */
}
.librariesAndFrameworksSection {
  padding: 0px 40px 10px 50px;
  /* margin: 35px 35px 35px 0px; */
}
.otherSection {
  padding: 0px 40px 10px 50px;
  /* margin: 35px 35px 35px 0px; */
}
.languagesTitle {
  font-size: 23px;
  color: #b5823d;
  padding-bottom: 15px;
}
.databasesTitle {
  font-size: 23px;
  color: #b5823d;
  padding-bottom: 15px;
}
.librariesAndFrameworksTitle {
  font-size: 23px;
  color: #b5823d;
  padding-bottom: 15px;
}
.otherTitle {
  font-size: 23px;
  color: #b5823d;
  padding-bottom: 15px;
}
.backgroundImageOnSkillsSection {
  display: flex;
  margin: 20px 0px 0px 0px;
  width: 100%;
  justify-content: center;
}

.skillsSectionCategoryContainer {
  display: flex;
  margin: 40px 0px 0px 0px;
  width: 100%;
  justify-content: center;
}
